# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
cache
/0.0.0.0/


# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# db
replicants.db
/replicants.db-journal
